*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-div{
    background-color: rgb(24, 207, 24);
    text-align: center;
    height: 100vh;
    overflow: hidden;

}

h2{
    padding-top: 90px;
    color: rgb(48, 28, 28);
    font-size: 50px;
}

#count-el{
    font-size: 60px;
    color: rgb(48, 28, 28);
}

#increment-btn{
    background-color: rgb(2, 126, 2);
    color: white;
    width: 200px;
    font-weight: bold;
    padding: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 1.25s;
    margin: 5px;
}
#increment-btn:hover{
    background-color: rgb(2, 58, 2);
}

#save-btn{
    background-color: rgb(13, 206, 212);
    color: white;
    width: 200px;
    font-weight: bold;
    padding: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 1.25s;
    
}
#save-btn:hover{
    background-color: rgb(6, 174, 180);
}

p{
    font-size: large;
    margin: 5px;
}